body,
html {
  overflow: hidden;
  height: 100%;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.game-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  text-align: center;
}
